body {
  background-color: rgb(60, 59, 59);
}

.to-do-list {
  font-family: "Cascadia Code", sans-serif;
  text-align: center;
  margin-top: 100px;
}

h1 {
  font-size: 4rem;
  color: white;
}

button {
  font-size: 1.7rem;
  font-weight: bold;
  padding: 10px 20px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.5s ease;
}

.add-button {
  background-color: lime;
}

.add-button:hover {
  background-color: rgba(70, 165, 70, 0.322);
}

.delete-button {
  background-color: red;
}

.delete-button:hover {
  background-color: rgba(255, 0, 0, 0.551);
}

.move-button {
  background-color: skyblue;
}

.move-button:hover {
  background-color: rgba(135, 207, 235, 0.671);
}

input[type="text"] {
  font-size: 1.6rem;
  padding: 10px;
  border: 2px solid darkgray;
  border-radius: 5px;
  color: darkred;
}

ol {
  padding: 0;
}

li {
  font-size: 2rem;
  font-weight: bold;
  padding: 15px;
  background-color: lightgrey;
  margin-bottom: 10px;
  border: 3px solid lightseagreen;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.text {
  flex: 1;
}

.delete-button,
.move-button {
  padding: 8px 12px;
  font-size: 1.4rem;
  margin-left: 10px;
}
